<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/jetty6/src/com/flurry/jetty/JettyServer.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.flurry.jetty.JettyServer"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="developerPortal"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea -XX:MaxPermSize=128M -Xmx256M -DSHUTDOWN.PORT=&quot;23690&quot; -Djetty.port=&quot;8087&quot; -Dhibernate.config.file=&quot;../dbAccessLayer/resource/hibernate.cfg.xml&quot;"/>
</launchConfiguration>